<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- set Value (chrome or Firefox ) -->
	<parameter name="browser" value="chrome"></parameter>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Tests.stctvCountriesVerification"></class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
